# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy JAR app to Azure Web App - ReflectlyBE

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java version
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'

      - name: Build with Maven
        run: mvn clean install

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: '${{ github.workspace }}/target/*.jar'

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout
  
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: java-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_32988B2886BF422786EE96040795E207 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_A7ADFBDF73F749B8A13BEB83DE55DB8C }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_81FCFEE9783C45498202849A2773ED5E }}

      - name: Configure App Settings for DB
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'ReflectlyBE'
          slot-name: 'Production'
          configuration-string: |
            SPRING_DATASOURCE_URL=jdbc:postgresql://ep-muddy-cherry-a117p1hy-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channelBinding=require
            SPRING_DATASOURCE_USERNAME=neondb_owner
            SPRING_DATASOURCE_PASSWORD=npg_P13fvARrJxiF

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'ReflectlyBE'
          slot-name: 'Production'
          package: '*.jar'

          
